* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'montseratt', sans-serif;
  background: black;
}

.app {
  background-image: url('./Assets/open.gif');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.thunder {
  background-image: url('./Assets/thunder.gif');
}
.app.rain {
  background-image: url('./Assets/rain.gif');
}
.app.light-rain {
  background-image: url('./Assets/rain\ light.gif');
}
.app.snow {
  background-image: url('./Assets/snow.gif');
}
.app.haze {
  background-image: url('./Assets/haze.gif');
}
.app.clear {
  background-image: url('./Assets/clear.gif');
}
.app.clouds {
  background-image: url('./Assets/clouds.gif');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75)
  );
  padding: 2vh;
}

.search-box {
  width: 100%;
  margin: 0 0 8vh;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 2.5vh;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 3vh;

  transition: 0.4s ease-in;
}

.location-box .location {
  color: #fff;
  font-size: 4vh;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 2.5vh;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 4vh auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 2.75vh 3vh;

  color: #fff;
  font-size: 12vh;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.weather-box .weather {
  color: #fff;
  font-size: 4vh;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.message {
  color: #fff;
  text-align: center;
  font-size: 30px;
}

.wind-box {
  color: #fff;
  text-align: center;
  font-size: 3.5vh;
}

.wind-direction-text {
  padding: 3vh;
  padding-top: 3vh;
  font-weight: 500;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  font-style: italic;
}

.wind-direction {
  width: 100%;
  margin: auto;
  padding: 0;
  font-size: 13rem;
  font-weight: 900;
  height: 200px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 3px 6px rgba(50, 50, 70, 0.5);

  position: relative;
  display: inline-block;

  color: #fff;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.wind {
  margin: auto;
  padding: 0;
}

.origin {
  color: #fff;
  font-size: 3vh;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

  margin-top: 4vh;
}

.origin a {
  text-decoration: none;
  appearance: none;
  color: #fff;
}

.side2 {
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .weather-box .weather {
    color: #fff;
    font-size: 7vh;
    font-weight: 700;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  }

  .wind-direction-text {
    padding-top: 7vh;
  }

  .classify {
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-content: space-between;
  }

  .side1,
  .side2 {
    position: absolute;
    text-align: center;
  }
  .side1 {
    padding-top: 5%;
    left: 15%;
  }
  .side2 {
    left: 60.66%;
  }

  .origin {
    margin-top: 75vh;
  }
}
@media screen and (min-width: 1000px) {
  .side1 {
    padding-top: 5%;
    left: 20%;
  }
  .side2 {
    left: 66.66%;
  }
}
